<div class="App-header">
    <button id="star" (click)="dialog.showModal()"></button>
    <button id="empty"></button>
    <button id="empty"></button>
    <button id="cash"></button>
</div>

<dialog #dialog>
    <div class="modal">
        <button class="close" (click)="dialog.close()">&times;</button>
        <div class="header">Formulaire de contact</div>
        <div class="content">
            <input #nom (keyup.enter)="onSend(nom.value,mail.value)" type="text"
                placeholder="Nom">

            <input #mail (keyup.enter)="onSend(nom.value,mail.value)"  type="text"
                placeholder="Email">
        </div>
        <div class="actions">
            <button (click)="dialog.close()" (click)="onSend(nom.value, mail.value)">Envoyer</button>
        </div>
    </div>
</dialog>